<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> <%= title %> </title>
	<%- include("style.ejs"); %><!--This is separate to not clog this file up-->
								<!--I couldn't get a simple <link> to a .css file to work, though I would prefer that-->
	
</head>