<nav>
	<a href="/"><h1>Site Title</h1></a>
	<ul>
		<a href="/"><li>Home</li></a>
		<a href="/courses"><li>Courses</li></a>
		<li>
			<div class="login">
				<button class="loginButton" type="button" onclick="">Log in</button>
			</div>
		</li>
		
	</ul>
	
</nav>

