<script>
	function openNewCourse() {
		document.getElementById("newCourse").style.visibility = "visible";
		document.getElementById("newCourse").style.opacity = "1";
	}

	function closeNewCourse() {
		document.getElementById("newCourse").style.visibility = "hidden";
		document.getElementById("newCourse").style.opacity = "0";
	}
	function submintNewCourse() {
		console.log("Submitted");
	}
</script>

<div id="newCourse">
	<form action="/" class="form-container">
		<h1>New Course</h1>
		<div class="newCourse_block">
			<label for="course_name"><b>Course Name</b></label>
			<input type="text" placeholder="Enter Course Name" name="course_name" class="newCourse_input" required>
		</div>

		<div class="newCourse_block">
			<label for="dpet"><b>Department</b></label>
			<select name="dept" class="newCourse_input">

				<!-- This is where we need to load in all of the available departments -->
				<option value="SDEV" default>SDEV</option>
				<option value="CSCI">CSCI</option>

			</select>
		</div>

		<div class="newCourse_block">
			<label for="course_id"><b>Course ID</b></label>
			<input type="text" placeholder="101" name="course_id" class="newCourse_input" required>
		</div>

		<div class="newCourse_block">
			<label for="credits"><b>Credit Hours</b></label>
			<input type="number" min="1" max="8" step="1" value="3" name="credits" class="newCourse_input" required>
		</div>

		<div class="newCourse_block desc">
			<label for="desc" id="desc"><b>Description</b></label>
			<textarea placeholder="Enter Course Description" name="desc" ></textarea>
		</div>

		<button type="submit" class="btn">Submit</button>
		<button type="button" class="btn cancel" onclick="closeNewCourse()">Close</button>
	</form>
</div>