<script>
	function openRemoveCourseConfirm() {
		document.getElementById("removeCourse").style.visibility = "visible";
		document.getElementById("removeCourse").style.opacity = "1";
	}

	function closeRemoveCourseConfirm() {
		document.getElementById("removeCourse").style.visibility = "hidden";
		document.getElementById("removeCourse").style.opacity = "0";
	}
</script>

<div id="removeCourse">
	<form action="/courses/delete/<%= course._id %>" method="DELETE" class="form-container">
		<h3>Are you sure you want to delete <%= course.dept_id + course.course_id %>?</h3>
		

		<button type="button" class="btn" id="deleteBtn">Delete</button>
		<button type="button" class="btn cancel" onclick="closeRemoveCourseConfirm()">Cancel</button>
	</form>
	<script>
		const trashcan = document.querySelector("button#deleteBtn");

		trashcan.addEventListener("click", (event) => {
			const endpoint = `/courses/${trashcan.dataset.doc}`;

			fetch(endpoint, {method: "DELETE"})
			.then((res) => res.json())
			.then((data) => window.location.href = data.redirect)
			.catch((err) => console.log(err));
		});
	</script>
</div>