<div class="sidebar">

	<div class="sideButton">
		<button onclick="courseEdit()" class="sideDropButton">Edit Courses</button>
		<div id="courseEdit" class="sideButton-content">
			<button class="aButton" name="AddCourse" onclick="openNewCourse()">Add Course</button>
			<button class="aButton" name="RemoveCourse" onclick="openRemoveCourse()">Remove Course</button>
		</div>
	</div>

	  
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function courseEdit() {
			document.getElementById("courseEdit").classList.toggle("show");
		}

		// Close the dropdown if the user clicks outside of it
		window.onclick = function(event) {
			if (!event.target.matches('.sideDropButton')) {
				let dropdowns = document.getElementsByClassName("sideButton-content");
			for (let i = 0; i < dropdowns.length; i++) {
				let openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');
			}
			}
			}
		}
	</script>
</div>