<%- include("./partials/head.ejs"); %>

<h3>To create a new account, you need to be logged into an admin account. Currently there is at least one set up.</h3>
<p><b>email:</b> admin@admin.com</p>
<p><b>Password:</b> adminpassword</p>

<%- include("./partials/foot.ejs"); %>