<%- include("./partials/head.ejs"); %>

<div class="teach">
  <img src="/class.png" alt="">
</div>
  <div class="headings">
<h2>To create a new account, you need to be logged into an admin account. Currently there is at least one set up.</h2>
<h3><b>Username:</b> admin</h3>
<h3><b>Password:</b> adminpassword</h3>
</div>

<%- include("./partials/foot.ejs"); %>