@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Open+Sans:wght@400;500;600;700;800&display=swap');
/*Organization Elements*/
html {
	font-family: 'Open Sans';
}
body {
	margin: 0;/*This lets everything go right up against the sides of the browser's viewport*/
}
nav {
	width: 100%;
	background-color: #bbb;
	height: 3.4em;
	
}
footer {
	padding:  0 1em;
}

/*Style Elements*/
a {
	text-decoration: none;
	color: #000;
}
table {
	background-color: #eee;
	border: 1px solid #000;
	border-collapse:  collapse;
	width: 48.75em;
}


/*Sub-Elements*/
nav li {
	display: block;
	float: left;
	padding: 1em 0.8em;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav h1{
	float: left;
	margin: 0;
	padding: 0.45em;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
table th {
	background-color: #333;
	color: #fff;
	/*border: 1px solid #333;*/
	border-left: 1px solid #000;
}
table td {
	padding-right: 1em;
	border-left: 1px solid #000;
}

/*Actions*/
nav li:hover {
	background-color: #999;
}
nav h1:hover {
	background-color: #999;
}

/*Classes*/
.content {/*main body content*/
	padding: 0 1em;
	padding-left: 22em;
	min-height: 10em;
}
.scrollable {/*For the div surrounding the courses table*/
	overflow-y:  auto;
	height: 50em;
	width: 50em;
}
.scrollable thead th {
	position: sticky;
	top: -1;
	z-index: 1;
}
.sidebar {
	background-color: #bbb;
	padding: 1em;
	width: 25%;
	min-width: 150px;
	max-width: 250px;
	position: absolute;
	top: 7em;
}
.sideDropButton {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	
	width: 100%;/*I can't get this to work for some reason.*/
}
.sideDropButton:hover, .sideDropButton:focus {
	background-color: #2980B9;
}
.sideButton {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.sideButton-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 140px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.sideButton-content button {
	color: black;
	font-size: 11pt;
	padding: 12px 16px;
	text-align: center;
	border: none;
	width: 100%;
	display: block;
}
.sideButton button.aButton:hover {
	background-color: #ddd;
}
.show {
	display: block;
}
.newCourse_block {
	position: relative;
	display: block;
	margin:  1em 0;
	height:  2em;
}
.newCourse_input {
	position: absolute;
	right: 0px;
	
	border:  1px solid black;
	border-radius: 5px;
	height:  2em;
	width:  15em;
}
.newCourse_block label {
	position: absolute;
	/*padding: 1em 0;*/
}
.desc {
	height: 5.5em;
}
.desc textarea{
	width: 100%;
	height: 5em;
}
.desc label {
	margin-bottom: 0.5em;
}
.desc textarea, .desc label {
	display: block;
	position: static;
}
.singleCourse:hover {
	color: #4af;
	cursor: pointer;
}

/*IDs*/
#errorMessage{
	text-align: center;
}
#desc {
	display: block;
}
#newCourse {
	background-color: #efefef;
	border: 1px solid black;
	border-radius: 10px;
	width:  23em;
	padding: 1em;
	padding-top: 0;
	position: fixed;
	left: 35%;
	top: 5em;
	margin-left: 5em;
	margin: auto;
	z-index: 10;
	visibility: hidden;

	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}