<script>
	function open_deleteCourse() {
		document.getElementById("deleteCourse").style.visibility = "visible";
		document.getElementById("deleteCourse").style.opacity = "1";
		console.log(course._id);
	}

	function close_deleteCourse() {
		document.getElementById("deleteCourse").style.visibility = "hidden";
		document.getElementById("deleteCourse").style.opacity = "0";
	}
</script>

<div class="popup_container" id="deleteCourse">
	<form class="form-container">
		<h3>Are you sure you want to delete <%= course.dept_id + course.course_id %>?</h3>
		
		<button type="button" class="btn" id="deleteBtn" data-doc="<%= course._id %>">Delete</button>
		<button type="button" class="btn cancel" onclick="close_deleteCourse()">Cancel</button>
	</form>
	<script>
		const trashcan = document.querySelector("button#deleteBtn");

		trashcan.addEventListener("click", (event) => {
			const endpoint = `/courses/${trashcan.dataset.doc}`;

			fetch(endpoint, {method: "DELETE"})
			.then((res) => res.json())
			.then((data) => window.location.href = data.redirect)
			.catch((err) => console.log(err));
		});
	</script>
</div>