<script>
	function open_menu() {
		document.getElementById("menu_container").style.visibility = "visible";
		document.getElementById("menu_container").style.opacity = "1";
	}

	function close_menu() {
		document.getElementById("menu_container").style.visibility = "hidden";
		document.getElementById("menu_container").style.opacity = "0";
	}
</script>

<div id="menu_container">
	<ul id="menu">
		<% if(user.permissions.includes("account.edit")) { %>
			<a href="/accounts/list"><li>Accounts</li></a>
		<% } %>
		<a href="/courses"><li>Courses</li></a>
		<% if(user.permissions.includes("course.register")) { %>
			<a href="/courses/register"><li>Add/Drop Classes</li></a>
		<% } %>
	</ul>
</div>