<script>
	function open_registerPop() {
		document.getElementById("registerPop").style.visibility = "visible";
		document.getElementById("registerPop").style.opacity = "1";
	}

	function close_registerPop() {
		document.getElementById("registerPop").style.visibility = "hidden";
		document.getElementById("registerPop").style.opacity = "0";
	}
</script>

<div class="popup_container" id="registerPop">
	<form action="/auth/register" method="POST" class="form-container" id="registerForm">

		<h1>Register</h1>

		<div class="popup_section">
			<label for="lastName"><b>Last Name</b></label>
			<input
				type="text"
				placeholder="Last Name"
				name="lastName"
				class="popup_input"
				required>
		</div>

		<div class="popup_section">
			<label for="firstName"><b>First Name</b></label>
			<input
				type="text"
				placeholder="First Name"
				name="firstName"
				class="popup_input"
				required>
		</div>

		<div class="popup_section">
			<label for="username"><b>Username</b></label>
			<input
				type="text"
				placeholder="Username"
				name="username"
				class="popup_input"
				required>
		</div>

		<div class="popup_section">
			<label for="email"><b>Email</b></label>
			<input
				type="text"
				placeholder="Email"
				name="email"
				class="popup_input"
				required>
		</div>

		<div class="popup_section">
			<label for="password"><b>Password</b></label>
			<input
				type="password"
				placeholder="Password"
				name="password"
				class="popup_input"
				required>
		</div>

		<div class="popup_section">
			<label for="accountType"><b>Account Type</b></label>
			<select name="accountType" class="popup_input" required>

				<option value="STUDENT" default	>Student</option>
				<option value="FACULTY"			>Faculty</option>
				<option value="ADMIN"			>Admin</option>

			</select>
		</div>

		<button type="submit" class="btn">Submit</button>
		<button type="button" class="btn cancel" onclick="close_registerPop()">Cancel</button>

	</form>
</div>